@charset "ISO-8859-1";
body{
	background-image:url(https://i.pinimg.com/originals/03/0b/b8/030bb86f8dd672d39b693cd94bfd1f4a.jpg);
	background-position: center;
	backgraound-repeat:no-repeat;
	background-size:cover;
}

.color input{ background-color:#f1f1f1;}

h1{
	text-align:center;
	color:#000080;
    padding-bottom: 0px;
    margin-bottom:2px;
}
h4{
	text-align: left;
	padding-top:0px;
	padding-bottom: 10px;
}
#divBillGrid{
	color:#000000;
	font-weight:600;
	
}
#formBill{
	color:#222831;

	border: 1px solid #0E185F;;
	padding: 25px;

}
body img{
	position:center;
	background-size:cover;
	background-repeat:none;
}
#btnSave{
	padding-top:0px;
	padding-bottom:0px;
	padding-left:40px;
	padding-right:40px;
	margin-left:100px;
}
